@charset "UTF-8";

body, td, th {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300; /* 얇은 폰트 유지 */
    line-height: 1.5; /* 요청하신 대로 1.5로 하향 조정 */
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 성함 및 메인 타이틀 */
.Name {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2; /* 타이틀은 본문보다 조금 더 좁게 설정해야 힘이 있습니다 */
    letter-spacing: -0.5px;
}

/* 섹션 제목 */
h2 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 1.4em;
    margin-bottom: 0.5em;
    padding-bottom: 0.2em;
    border-bottom: 1.2px solid #aaa;
}

/* 본문 강조 */
b, strong {
    font-weight: 550; /* 300과 대비되는 적절한 볼드 */
}

p, ul {
    font-weight: 300;
    margin-bottom: 1em; /* 문단 사이의 여백 */
}

/* 리스트 항목 간격 */
li {
    margin-bottom: 0.3em;
}

/* 링크 스타일 */
a {
    color: #000;
    font-weight: 300;
    text-decoration: underline;
}